<?php

define('OA_NAMESPACE', 'default');
define('OA_KEY', '__your_key__');
define('OA_COMPANY_ID', '__your_company_id__');
define('OA_USERNAME', '__your_username__');
define('OA_PASSWORD', '__your_password__');
